---
export interface Props {
  // title: string;
  // body: string;
  // optional dark for cards: using ? for optional
  dark?: boolean;
}

// default value for "dark"
const { dark = false } = Astro.props as Props;
---

<!-- we want to put here props that are passed in --><!-- using template literal with a conditional --><!-- if 'dark', add the class of 'dark' -->
<div class={`card ${dark && "dark"}`}>
  <!-- slot is just whatever you surround -->
  <!-- just like we do with the layout -->
  <slot />
</div>

<style>
  .card {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }

  .dark {
    /* we have access to global variables from css */
    background: var(--color-primary);
    color: #fff;
  }
</style>
