---
// we import the global styles
// we want to import the header into every page, so we import it right here, and don't put it in the pages folder
import Header from "../components/Header.astro";
// we import the footer here because we want it to be on every page, not just index.astro
import Footer from "../components/Footer.astro";
import "../styles/global.css";

export interface Props {
  title?: string;
}

// we destructure title from astro.props
const { title = "Astro Crash Course" } = Astro.props as Props;
// assigning default prop to title
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap"
      rel="stylesheet"
    />

    <!-- the prop we want to access -->
    <title>{Astro.props.title}</title>
  </head>
  <body>
    <Header />
    <!-- to get our page in here, we use 'slot' -->
    <slot />
    <Footer />
  </body>
</html>
